<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sen No Kiseki's Blade</title>
  
  <!-- Socket.io script -->
  <script src="/socket.io/socket.io.js"></script>
  
  <!-- React, Bootstrap, and custom styles -->
  
</head>
<body>
  
  <canvas id="viewport" width="600" height="600"></canvas>
  
  <div id="main">
  </div>
  
  <script src="/assets/bladeBundle.js"></script>
</body>
</html>