<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sen No Kiseki's Blade</title>
  
  <!-- Socket.io script -->
  <script src="/socket.io/socket.io.js"></script>
  
  <!-- React and Proptypes -->
  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  
  <!-- Additional utilities -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  
  <!-- Bootstrap, and custom styles -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap-cerulean.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/fontawesome-all.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/mainStyle.css" />
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  
</head>
<body>

  <!-- Navigation containers and links -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/blade" class="navbar-left navbar-brand">
      <img id="logo" width="64px" height="64px" src="/assets/img/icon.jpg" alt="Site Logo" />
    </a>
    <a href="/blade" class="navbar-brand">Sen No Kiseki's Blade</a>
    <button id="hamburgerNav" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a id="bladeButton" class="nav-link" href="#blade">Play Blade</a>
        </li>
        <li class="nav-item">
          <a id="instructionsButton" class="nav-link" href="#instructions">Instructions</a>
        </li>
        <li class="nav-item">
          <a id="aboutButton" class="nav-link" href="#tocs">About ToCS &amp; ToCS II</a>
        </li>
        <li class="nav-item">
          <a id="feedbackButton" class="nav-link" href="#feedback">Feedback</a>
        </li>
      </ul>
      <div class="navbar-right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            
          </li>
          <li class="nav-item">
            <a id="profileButton" class="nav-link" href="#profile">Profile</a>
          </li>
          <li class="nav-item navbar-right">
            <a id="logoutButton" class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
      <a id="profilePic" href="#profile" class="navlink">
        <img id="profile" width="64px" height="64px" src={{profileData.imageFile}} alt={{profileData.name}} />
      </a>
    </div>
  </nav>
  
  <!-- Notification containers -->
  <div id="errorMessage"></div>
  <div id="successMessage"></div>
  
  <!-- Modal Container -->
  <div id="modalContainer" data-target="#playbackModal"></div>
  
  <!-- Containers for React generated content -->
  <div id="appContainer" class="container-fluid moveDown">
    <div class="row row-centered">
      <div class="col-lg-2 col-centered">
        <div id="room"></div>
      </div>
      <div class="col-lg-8">
        <div id="main"></div>
      </div>
      <div class="col-lg-2 col-centered">
        <div id="rightPanel"></div>
      </div>
    </div>
  </div>
  
  <!-- Images needed for game -->
  <img id="bladeMat" class="hidden" src="/assets/img/blade_mat.png" alt="Blade Mat" />
  
  <!-- Script used to store variables using Handlebars -->
  <script>
    const username = "{{username}}";
    const profileImage = "{{profileData.imageFile}}";
  </script>
  <script src="/assets/bladeBundle.js"></script>
</body>
</html>