<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sen No Kiseki's Blade</title>
  
  <!-- Socket.io script -->
  <script src="/socket.io/socket.io.js"></script>
  
  <!-- React and Proptypes -->
  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  
  <!-- React, Bootstrap, and custom styles -->
  <link rel="stylesheet" type="text/css" href="/assets/mainStyle.css" />
  
</head>
<body>
  <div id="main">
  </div>
  
  <!-- Images needed for game -->
  <img id="bladeMat" class="hidden" src="/assets/img/blade_mat.png" alt="Blade Mat" />
  
  <script src="/assets/bladeBundle.js"></script>
</body>
</html>