#viewport, #viewportModal {
  display: block;
  margin: auto;
  border: 2px solid black;
}

body, html {
  margin: 0px;
}

.hidden {
  display: none;
}

#roomSelect {
  margin: auto;
  text-align: center;
}

#roomOptions {
  max-height: 200px;
  overflow: auto;
}


.row-centered {
  align-content: center;
}

.formSubmit {
 width: 100%; 
}

#appContainer {
  max-width: 95%;
}

#gameHistoryList {
  max-height: 500px;
  overflow: auto;
}

.input-group-btn button {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.vertical-center {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.moveDown {
  margin-top: 50px;
}

.instructionsCard img{
  width: 90px;
  height: 119px;
  display: inline-block
}

.instructionsCard p {
  vertical-align: middle;
  display: inline-block;
  max-width: 75%;
  margin-left: 5%;
}

#specialCardList li{
  margin-top: 10px;
}

.banner{
  max-width: 100%;
}

.aboutPara{
  margin-top: 10px;
}

.gameHistory, .publicGameItem {
  width: 50%;
  height: 100%;
}

.gameHistory figure, .publicGameItem figure {
  display: inline-block;
}

.gameHistory figcaption, .publicGameItem figcaption {
  text-align: center;
}

#videoFrame {
  width: 100%;
  max-width: 100%;
}

#hamburgerNav {
  border: 0px solid black;
}

#chat {
  height: 250px;
  overflow: auto;
  margin-bottom: 10px;
}

.badge {
  vertical-align: top;
}

.buttonDiv, .flexCenter {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#publicGamePagination {
  margin: auto;
  margin-top: 8px;
  text-align: center;
  align-content: center;
}

.buttonDiv div button {
  margin-bottom: 8px;
}

.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: block;
}

#pageMask {
  background-color: black;
  opacity: 0.5 !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-dialog {
  width: 70%;
  max-width: 70%;
  margin: auto;
}

#playbackModal, #viewportModal {
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.show {
  animation-name: slide-outwards;
}

.animateExpand {
  animation-name: expand-down;
}

.hide-anim {
  animation-name: slide-inwards;
}

@keyframes slide-outwards {
	0% { opacity: 0; transform: scale3d(0, 1, 1);}
	100% { opacity: 1; transform: scale3d(1, 1, 1);}
}

@keyframes slide-inwards {
	0% { opacity: 1; transform: scale3d(1, 1, 1);}
	100% { opacity: 0; transform: scale3d(0, 1, 1);}
}

@keyframes expand-down {
  0% { opacity: 0; transform: scale3d(1, 0, 1);}
	100% { opacity: 1; transform: scale3d(1, 1, 1);}
}