#viewport {
  display: block;
  margin: auto;
  border: 2px solid black;
}

body, html {
  margin: 0px;
}

.hidden {
  display: none;
}

#roomSelect {
  margin: auto;
  text-align: center;
}

.row-centered {
  align-content: center;
}

.formSubmit {
 width: 100%; 
}